<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ContactMapper">
    <!--用户联系信息查询-->
    <select id="SelectContact" parameterType="_int" resultType="Contactmessage">
        select * from usermessage where 1=1
        <if test="userid != null and userid != ''">
            and userid=#{userid}
        </if>
    </select>
    <!--用户联系信息添加-->
    <insert id="AddContact" parameterType="Contactmessage">
        INSERT INTO usermessage(userid,username)
        values(#{userid},#{username})
    </insert>
    <!--用户联系信息更新-->
    <update id="UpdateContact" parameterType="Contactmessage">
        update usermessage set
        <trim suffixOverrides=",">
            <if test="truename!=null and truename!=''">
                truename=#{truename},
            </if>
            <if test="address!=null and address!=''">
                address=#{address},
            </if>
            <if test="phone!=null and phone!=''">
                phone=#{phone},
            </if>
        </trim>
        where userid=#{userid}
    </update>
</mapper>